    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     
     <form class="navbar-form navbar-right">
        <div class="form-group">
          Znajdź: <input type="text" class="form-control" ng-model="homCtrl.textInput" placeholder="Search">
        </div>
        <button type="submit" ng-click="homCtrl.SearchDiscovery()" class="btn btn-deafult">Szukaj</button>
      </form>
      <div class="panel-body">

      Posortuj po: 
      <button class="btn btn-default btn-pressure btn-sensitive" ng-click="homCtrl.SortByTime()">Czas dodania</button>
      </a><button class="btn btn-default btn-pressure btn-sensitive" ng-click="homCtrl.SortByPopular()">Popularność</button>

      </div>
      <div class="container">
	<ul>
      <li ng-repeat="d in homCtrl.discoveries">
   
      <div class="row bs-callout bs-callout-primary">
        <div class="col col-md-1 col-sm-2" >
       
      <a href="api/vote?vote=VOTE_UP&discovery_id={{d.id}}" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span></a>
      <div class="well well-sm centered">{{d.upVote-d.downVote}}</div>
        <a href="api/vote?vote=VOTE_DOWN&discovery_id={{d.id}}" class="btn btn-warning"><span class="glyphicon glyphicon-thumbs-down"></a>
        </div>
        <div class="col col-md-11 col-sm-10">
      
          <p>{{d.description}}</p>
          <a href={{d.url}}><button class="btn btn-default btn-xs">Przejdź do strony</button></a>
      </div>
    </div>
    </div>
   
    </li>
    </ul>

    
