<ul id="pages" class="pagination" style="display: table;margin-left: auto;margin-right: auto">
  <li (click)="previousPage()" class="page-item"> <a (click)="changeBackGroundColorOfPage($event)" class="glyphicon glyphicon-chevron-left"></a></li>
  <li *ngFor="let page of preparedPages" (click)="getDiscoveriesForActualPage(page.numberPage)" class="page-item"><a id={{page.numberPage}} (click)="changeBackGroundColorOfPage($event)" class="page-link">{{page.numberPage}}</a></li>
  <li (click)="nextPage()" class="page-item"><a (click)="changeBackGroundColorOfPage($event)" class="glyphicon glyphicon-chevron-right"></a></li>
</ul>
