<app-header title="Edit discovery"></app-header>
<div *ngIf="discovery" class="main">
    <div>
          <form class="addForm">
              <input [(ngModel)]="discovery.name" name="name" type="text" class="form-control" required autofocus />
              <input [(ngModel)]="discovery.url" name="url" type="url" class="form-control" required autofocus />
              <textarea [(ngModel)]="discovery.description" name="description" rows="5"
                  class="form-control" required autofocus></textarea>
              <button (click)="updateDiscovery()" class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
              <button type="button" (click)="deleteDiscovery()" class="btn btn-lg btn-danger btn-block">Delete</button>
          </form>
        <br>
      </div>
</div>
