    <div *ngIf="user" class="container">
    <br>
        <form class="form-signin col-md-6 col-md-offset-3" method="post">
            <h2 class="form-signin-heading">Edit user</h2>
            <input [(ngModel)]="user.email" type="email" class="form-control" name="email" placeholder="{{this.user.email}}" />
            <input [(ngModel)]="user.username"  type="text" name="username" class="form-control" placeholder="{{this.user.username}}" />
            <label>Active:</label>
                <input [(ngModel)]="user.active" name="active" type="checkbox" checked="checked"/>
            <button class="btn btn-lg btn-primary btn-block" (click)="updateUser()" >Edit</button>
        </form>

</div>