<app-header title="Discovery"></app-header>
<div id="main">
  <div *ngIf="discovery" class="row bs-callout bs-callout-primary">
    <div class="col col-md-2 col-sm-3">
      <h4><p>{{this.discovery.name}}</p></h4>
      <a href={{this.discovery.url}}><button class="btn btn-default btn-xs">Source</button></a>
    </div>

    <div class="col col-md-10 col-sm-9">
      <p>{{this.discovery.description}}</p>
    </div>
    <div class="col col-md-1 col-sm-2">
    </div>
  </div>

  <br><h3>Comments:</h3>
  <ul class="list-unstyled" *ngIf="comments">
    <li *ngFor="let comment of comments">
      <div class="bs-callout bs-callout-default" style="box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7)">
        <div style="display: inline;"><span style="font-weight: bold">{{comment.user.username}}</span></div>
        <div style="display: inline"><span>{{comment.comment}}</span></div>
        <div class="pull-right" style="display:inline;">
          <span (click)="addVote(VOTE_UP,comment.id)" class="glyphicon glyphicon-thumbs-up btn-xs btn-success"></span><span>{{comment.upVote}}</span>
          <span (click)="addVote(VOTE_DOWN,comment.id)" class="glyphicon glyphicon-thumbs-down btn-xs btn-warning"></span><span>{{comment.downVote}}</span>
        </div>
      </div>
    </li>
  </ul>
  <div *ngIf="comment">
    <form class="addForm">
      <div style="font-size: 20px">Add new comment</div>
      <app-validatabletextarea name="comment" (changeEvent)="assignComment($event)" positionMessage="above" placeholder="Write comment" rows="5"></app-validatabletextarea>
      <button (click)="addComment()" style="width:100%" class="bigButtonClass" type="submit">Add</button>
    </form>
  </div>
</div>
