.highlight {
  animation: highlight 2s infinite;
}
.highlight:focus{
  animation: empty;
}
@keyframes empty {

}
#message {
  font-size: 0.8em;
  font-weight: bold;
  color: red;
}
#container{
  display: flex;
  flex-direction: column;
}
