<div class="jumbotron">
<div class="col-sm-6 col-md-4 col-md-offset-4">
            <form class="form-signin" method="post">
                <h2 class="form-signin-heading">Zarejestruj się</h2>
                <input ng-model="regCtrl.user.email" type="email" class="form-control" placeholder="Email" required autofocus />
                <input ng-model="regCtrl.user.username" type="text" name="inputUsername" class="form-control" placeholder="Nazwa użytkownika" required autofocus />
                <input ng-model="regCtrl.user.password" type="password" class="form-control" placeholder="Hasło" required />
                <button ng-click="regCtrl.addUser(regCtrl.user)" class="btn btn-lg btn-primary btn-block" type="submit" >Zarejestruj</button>
            </form>
        </div>
        </div>