<nav class="navbar navbar-inverse navbar-fixed-top">
  <div style="" class="">

        <div class="pull-left">
          <a href="/" class="navbar-brand navbar-left">Aplikacja</a>
        </div>

    <div>
        <button (click)="changeWidth()" id="top" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse" style="color:white">
            <span class="glyphicon glyphicon-list"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Main Page</a></li>
                <li><a routerLink="adddiscovery">Add new Discovery</a></li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Event</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a routerLink="addevent">Add</a></li>
                        <li><a routerLink="event">Search</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul></li>
                <li><a href="http://localhost:8080/projekt/api/logout">Logout</a></li>
            </ul>

        </div>

     </div>
     <div style="margin-left: auto;display: flex;align-items: center;" class="pull-right">
       <div style="padding: 5px;box-shadow: 0px 0px 4px white;border-radius: 10px">
         <span id="reload" (click)="reloadCounter()" class="glyphicon glyphicon-repeat"></span>
         <span style="color:white;">{{counter}}</span>
       </div>
     </div>
  </div>
</nav>
<router-outlet id="router"></router-outlet>
<footer class="footer">
    <div class="container">
        <p class="text-center">
            Aplikacja - developed by <a href="#">Aplikacja.pl</a>
        </p>
    </div>
</footer>
