<app-header title="List of users"></app-header>
<div id="main" style="">
  <div id="user" *ngFor="let user of users">
    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
    <div id="information" style="">
      <div>Information</div>
      <div>
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
      </div>
    </div>
    <div id="active">
      <div>Active</div>
      <div>
          <span [ngStyle]="user.active ? {'color': 'green', 'opacity': 1} : {}" class="far fa-check-circle fa-3x"></span>
          <span [ngStyle]="!user.active ? {'color': 'red', 'opacity': 1} : {}" class="far fa-times-circle fa-3x"></span>
      </div>
    </div>
    <div id="lastLogin">
      <div>Last login</div>
      <div><span>{{user.lastLogin.toLocaleDateString()}}</span></div>
    </div>
    <div style="margin: auto;">
      <button class="pull-right buttonClass" routerLink="/edituser/{{user.id}}">edit</button>
    </div>
  </div>
</div>
