
<div class="panel-body">
<div class="row col-md-offset-3" *ngFor="let user of users">
<div class="col-md-1 col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-md-5 col-sm-3">
<div class="panel panel-info">
<div class="panel-heading">
<strong>{{user.username}}</strong> <button class="pull-right" routerLink="/edituser/{{user.id}}">edit</button>
</div>
<div class="panel-body">
<p>email: {{user.email}}</p><br>
<p>active: {{user.active}}</p>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->

</div><!-- /row -->
</div>
