<app-header title="Add Event"></app-header>
<div id="main">
  <div class="addForm">
    <form *ngIf="event" method="post">
      <a style="font-size:20px"><span (click)="showMap()" class="glyphicon glyphicon-globe pull-right" style="margin:5px"></span></a>
      <input [(ngModel)]="event.name" name="name" type="text" class="form-control" placeholder="Name" required autofocus />
      <input [(ngModel)]="event.nameOfCity" name="nameOfCity" type="text" name="City" class="form-control" placeholder="City" required autofocus />
      <p-calendar dateFormat="dd-mm-yy" placeholder="Date" showButtonBar="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="date"></p-calendar>
      <p-calendar timeOnly="true" placeholder="Time" [ngModelOptions]="{standalone: true}" [(ngModel)]="time"></p-calendar>
      <button (click)="addEvent(event)" class="btn btn-lg btn-primary btn-block">Save Event</button>
    </form>
  </div>
  <div class="addForm" [ngStyle]="displayMap">
    <h2 id="title" class="text-center">Mark position of event</h2>
    <div id="mapa" style="height: 350px;border: 1px solid black;" class="img-rounded"></div>
  </div>

</div>


