    <div class="row" style="margin-top:10px">
    <div class="pull-left container-fluid">
    <button [ngStyle]="positionStyle" (click)="searchByPosition()" routerLink="searchByPosition" class="btn btn-primary">Find By Position</button>
    <button [ngStyle]="cityStyle" (click)="searchByCity()" routerLink="searchByCity" class="btn btn-warning">Find By City</button>
    <button [ngStyle]="allStyle" (click)="showAllEvents()" routerLink="listOfAllEvents" class="btn btn-success">Show All Events</button>
    </div>
</div>

    <div clas="row">
    <div class="container">
      <router-outlet></router-outlet>
        </div>
        </div>





