@media (max-width: 1000px) {
  #findByPositionMap {
    width: 70% !important;
  }
}
#findByPositionMap {
  height: 300px;
  margin-top: 10px !important;
  text-align: center;
  margin: 0 auto;
  width: 760px;
  min-width: 250px;
}
#findByPositionText {
  width: 100%;
  text-align: center;
  min-width: 250px;
}
h2.text-center {
  margin-bottom: 1em;
  white-space: nowrap;
  min-width: 250px
}
input {
  width:200px;
  margin:auto
}
