<div *ngIf="events" class="container" id="mainDiv">
  <div class="col-md-8 col-md-offset-2 col-sm-offset-1">
    <ul class="event-list">
      <li *ngFor="let event of events" style="display: block">
        <div id="divRow" style="box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7)" [ngStyle]="styles" class="row">
          <time id="time" datetime="2014-07-20">
            <span class="day">{{event.timestamp.getDate()}}</span>
            <span class="month">{{monthNames[event.timestamp.getMonth()]}}</span>
            <span class="year">{{event.timestamp.getFullYear()}}</span>
            <span class="time">{{event.timestamp.getHours()}}:{{event.timestamp.getMinutes()}}</span>
          </time>
          <label id="label"><h2 style="margin-top: 5px;margin-bottom: 0px;">{{event.name}}</h2><h6 style="margin-top: 0px">Localization: {{event.nameOfCity}}</h6></label>
          <div *ngIf="event.eventPosition[0]" id="map" style="height: 120px;width: 200px;"
               leaflet
               [leafletOptions]="addOptionsToMap(event.eventPosition)"></div>
          <div id="rightSmall" style="text-align: center">
            <a id="showMap" style="font-size:20px"><span class="glyphicon glyphicon-globe" style="top: 20px;left:5px;position:absolute"></span></a>
            <a style="font-size:20px"><span class="fab fa-facebook-square" style="bottom: 20px;left:6px;position: absolute"></span></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
