<div class="panel-body">
  <div style="margin-bottom: 30px">
          <div class="col col-md-3 col-sm-4">
            Sort by:
            <button class="btn btn-default btn-pressure btn-sensitive" >Time</button>
            <button class="btn btn-default btn-pressure btn-sensitive" >Popularity</button>
          </div>
          <div class="col col-md-4 col-sm-2 text-center">
              <a routerLink="/users" *ngIf="adminRole==true"><button type="button" class="btn btn-default" >List of users</button></a>
          </div>
          <div class="col col-md-5 col-sm-6" style="text-align: end">
             Find: <input type="text" style="display: inline-block;width: auto" class="form-control"  placeholder="Search">
            <button type="submit" style="display: inline-block" class="btn btn-deafult">Search</button>
            <button id="showAllDiscoveries" (click)="showAllDiscoveries()" type="submit">Show all discoveries</button>
      </div>
  </div>
      <div class="container">
	<ul id="discoveries" class="list-unstyled">
      <li [style.display]="discoveries.length>5 ? 'none':null" *ngFor="let discovery of discoveries">
      <div class="row bs-callout bs-callout-primary">
        <div class="col col-md-1 col-sm-1" >

        <span style="width:50px" (click)="addVote(VOTE_UP,discovery.id)" class="glyphicon glyphicon-thumbs-up btn btn-success"></span>
        <div style="width:50px" class="well well-sm centered pull-left">{{discovery.upVote-discovery.downVote}}</div>
        <span style="width:50px" (click)="addVote(VOTE_DOWN,discovery.id)" class="glyphicon glyphicon-thumbs-down btn btn-warning"></span>
        </div>
          <div>
        <div class="col col-md-10 col-sm-10">

            <a routerLink="/discovery/{{discovery.id}}"><p>{{discovery.name}}</p></a>
          <a href="{{discovery.url}}"><button class="btn btn-default btn-xs">Source</button></a>
        </div>
          <div class="col col-md-1 col-sm-1" >
            <a routerLink="/editdiscovery/{{discovery.id}}" *ngIf="adminRole==true"><button type="button" class="btn btn-warning push-right">Edit</button></a>
           </div>
          </div>
    </div>
      </li>
    </ul>

    <ul id="pages" class="pagination" style="display: table;margin-left: auto;margin-right: auto">
    <li (click)="previousPage()" class="page-item"> <a (click)="changeBackGroundColorOfPage($event)" class="glyphicon glyphicon-chevron-left"></a></li>
    <li *ngFor="let page of preparedPages" (click)="getDiscoveriesForActualPage(page.numberPage)" class="page-item"><a id={{page.numberPage}} (click)="changeBackGroundColorOfPage($event)" class="page-link">{{page.numberPage}}</a></li>
    <li (click)="nextPage()" class="page-item"><a (click)="changeBackGroundColorOfPage($event)" class="glyphicon glyphicon-chevron-right"></a></li>
  </ul>
    </div>
